# virtual machine crash logs
# see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml

### Avro generated sources ###
**/src/main/java/com/finaccounthub/avro/

### OS ###
.DS_Store
Thumbs.db

### Docker volumes (local) ###
docker-data/